<app-select></app-select>
<div class="container mt-5">
    <h1>Productos tecnologicos</h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-body">
                        <img src="/assets/img/tecnologia/camara.png" alt="imagen de camara" class="img-fluid">
                        <h2>Camara</h2>
                        <p>Una cámara fotográfica o cámara de fotos es un dispositivo utilizado para capturar imágenes o fotografías</p>
                        <p>Camara Iphone</p>
                        <p>21/09/2022</p>
                        <a href="https://pixabay.com/es/images/search/camara/" target="_blank" class="btn btn-success btn-block btn-lg">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-body">
                        <img src="/assets/img/tecnologia/celular.png" alt="imagen de celular" class="img-fluid">
                        <h2>Celular</h2>
                        <p>Un teléfono móvil o teléfono celular es un dispositivo portátil que puede hacer o recibir llamadas a través de una portadora de radiofrecuencia, mientras el usuario se está moviendo dentro de un área de servicio telefónico. </p>
                        <p>Xiaomi</p>
                        <a href="https://pixabay.com/es/images/search/celular/" target="_blank" class="btn btn-success btn-block btn-lg">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-body">
                        <img src="/assets/img/tecnologia/ipad.png" alt="imagen de ipad" class="img-fluid">
                        <h2>iPad</h2>
                        <p>El iPad es la tableta de Apple Inc. Es un dispositivo de pantalla táctil que se encuentra categorizado como un intermedio entre los teléfonos inteligentes y los computadores portátiles.e</p>
                        <p>AirDrop</p>
                        <p>15/03/2022</p>
                        <a href="https://pixabay.com/es/images/search/ipad/" target="_blank" class="btn btn-success btn-block btn-lg">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-body">
                        <img src="/assets/img/tecnologia/lente.png" alt="imagen de lente optico" class="img-fluid">
                        <h2>Lente optico</h2>
                        <p>Un o una lente es un dispositivo óptico transmisor que enfoca o dispersa un haz de luz por medio de la refracción</p>
                        <p>Opticos</p>
                        <p>17/01/2022</p>
                        <a href="https://pixabay.com/es/images/search/lente%20optico/" target="_blank" class="btn btn-success btn-block btn-lg">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-body">
                        <img src="/assets/img/tecnologia/mouse.png" alt="imagen de mouse" class="img-fluid">
                        <h2>Mouse</h2>
                        <p>Dispositivo de la computadora que se maneja con una sola mano y permite dirigir el movimiento del puntero sobre la pantalla para transmitir órdenes diversas.</p>
                        <p>Inalambrico</p>
                        <p>29/10/2022</p>
                        <a href="https://pixabay.com/es/images/search/mouse/" target="_blank" class="btn btn-success btn-block btn-lg">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-body">
                        <img src="/assets/img/tecnologia/teclado.png" alt="imagen de pizza" class="img-fluid">
                        <h2>Teclado</h2>
                        <p>Conjunto de teclas de un instrumento musical o de una máquina o mecanismo.</p>
                        <p>Teclado telefono</p>
                        <p>14/08/2022</p>
                        <a href="https://pixabay.com/es/images/search/teclado/" target="_blank" class="btn btn-success btn-block btn-lg">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

