<app-select></app-select>
<div class="container mt-5">
    <h1>Lista de bebidas</h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-body">
                        <img src="/assets/img/bebidas/cafe.png" alt="imagen de cafe" class="img-fluid">
                        <h2>Cafe</h2>
                        <p>El café es la bebida que se obtiene a partir de los granos tostados y molidos de los frutos de la planta del café.</p>
                        <p>Cafe negro</p>
                        <p>17/02/2021</p>
                        <a href="https://pixabay.com/es/images/search/cafe%20/" target="_blank" class="btn btn-success btn-lg btn-block">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-body">
                        <img src="/assets/img/bebidas/cocacola.png" alt="imagen de cocacola" class="img-fluid">
                        <h2>Cocacola</h2>
                        <p>Coca-Cola es una bebida azucarada gaseosa vendida a nivel mundial en tiendas, restaurantes y máquinas expendedoras en más de doscientos países o territorios</p>
                        <p>Coca cola sin gas</p>
                        <p>23/09/2022</p>
                        <a href="https://pixabay.com/es/images/search/coca%20cola/" target="_blank" class="btn btn-success btn-lg btn-block">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-body">
                        <img src="/assets/img/bebidas/drink.png" alt="imagen de coctel" class="img-fluid">
                        <h2>Coctel</h2>
                        <p>Un cóctel o coctel es una preparación a base de una mezcla de diferentes bebidas, que contiene por lo general dos o más tipos de bebidas, aunque algunas de ellas pueden ser bebidas no alcohólicas, a base de ingredientes como jugos, frutas, miel, leche o crema, especias, etc</p>
                        <p>Coctel de cerveza</p>
                        <p>11/01/2022</p>
                        <a href="https://pixabay.com/es/images/search/coctel/" target="_blank" class="btn btn-success btn-lg btn-block">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-body">
                        <img src="/assets/img/bebidas/naranja_jugo.png" alt="imagen de jugo de naranja" class="img-fluid">
                        <h2>Jugo de naranja</h2>
                        <p>El jugo de naranja o zumo de naranja es un jugo de frutas en forma de líquido obtenido de exprimir el interior de las naranjas, generalmente con un exprimidor</p>
                        <p>Jugo de naranja verde</p>
                        <p>26/08/2021</p>
                        <a href="https://pixabay.com/es/images/search/jugo%20de%20naranja/" target="_blank" class="btn btn-success btn-lg btn-block">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-body">
                        <img src="/assets/img/bebidas/vino_rosas.png" alt="imagen de vino rosas" class="img-fluid">
                        <h2>Vino rosas</h2>
                        <p>El vino rosado es aquel que tiene algo del color típico del vino tinto, pero solo lo suficiente como para darle un color rosa</p>
                        <p>Vino negro</p>
                        <p>2/12/2022</p>
                        <a href="https://pixabay.com/es/images/search/vino/" target="_blank" class="btn btn-success btn-lg btn-block">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-body">
                        <img src="/assets/img/bebidas/whizki.png" alt="imagen de whizky" class="img-fluid">
                        <h2>Whisky</h2>
                        <p>El whisky es una bebida alcohólica obtenida por la destilación de la malta fermentada de cereales como cebada, trigo, centeno y maíz, y su posterior añejamiento en barriles de madera, tradicionalmente de roble blanco.</p>
                        <p>Ballantines</p>
                        <p>18/06/2022</p>
                        <a href="https://pixabay.com/es/images/search/whisky/" target="_blank" class="btn btn-success btn-lg btn-block">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


