<app-select></app-select>
<div class="container mt-5">
    <h1>Lista de comidas</h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-body">
                        <img src="/assets/img/comidas/salmon.png" alt="imagen de salmon" class="img-fluid">
                        <h2>Salmon</h2>
                        <p>Salmón es el nombre común de varias especies de peces con aletas radiadas de la familia Salmonidae.</p>
                        <p>Pescado</p>
                        <p>27/07/2022</p>
                        <a href="https://pixabay.com/es/images/search/salmon/" target="_blank" class="btn btn-success btn-lg btn-block">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-body">
                        <img src="/assets/img/comidas/ensalada.png" alt="imagen de ensalada" class="img-fluid">
                        <h2>Ensalada</h2>
                        <p>La ensalada es, en términos generales, un plato que combina hortalizas frías (como lechuga, rúcula o espinaca) y varias verduras cortadas, mezcladas y aderezadas </p>
                        <p>Ensalada de frutas</p>
                        <p>12/07/2022</p>
                        <a href="https://pixabay.com/es/images/search/ensalada/" target="_blank" class="btn btn-success btn-block btn-lg">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-body">
                        <img src="/assets/img/comidas/verduras.png" alt="imagen de verduras" class="img-fluid">
                        <h2>Verduras</h2>
                        <p>Las verduras son hortalizas cuyo color predominante es el verde</p>
                        <p>Verduras para sopa</p>
                        <p>12/02/2022</p>
                        <a href="https://pixabay.com/es/images/search/verduras/" target="_blank" class="btn btn-success btn-block btn-lg">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-body">
                        <img src="/assets/img/comidas/nueces.png" alt="imagen de nueces" class="img-fluid">
                        <h2>Nueces</h2>
                        <p>Proteína. Todos los alimentos hechos con carne, pollo, pescado, frijoles o leguminosas, huevos, nueces y semillas se consideran parte de este grupo</p>
                        <p>Nuez</p>
                        <p>7/01/2022</p>
                        <a href="https://pixabay.com/es/images/search/nueces/" target="_blank" class="btn btn-success btn-block btn-lg">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-body">
                        <img src="/assets/img/comidas/uvas.png" alt="imagen de uvas" class="img-fluid">
                        <h2>Uvas</h2>
                        <p>La uva o grano de uva es el nombre que recibe el fruto que crece formando racimos de la vid común o vid europea</p>
                        <p>Uva blanca</p>
                        <p>22/12/2022</p>
                        <a href="https://pixabay.com/es/images/search/uvas/" target="_blank" class="btn btn-success btn-block btn-lg">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-body">
                        <img src="/assets/img/comidas/pizza.png" alt="imagen de pizza" class="img-fluid">
                        <h2>Pizza</h2>
                        <p>La pizza es una preparación culinaria que consiste en un pan plano, habitualmente de forma circular, elaborado con harina de trigo, levadura, agua y sal que tradicionalmente se cubre con salsa de tomate y mozzarella y se hornea a alta temperatura en un horno de leña</p>
                        <p>Peperoni</p>
                        <p>12/02/2022</p>
                        <a href="https://pixabay.com/es/images/search/pizza/" target="_blank" class="btn btn-success btn-block btn-lg">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

